@import url('https://fonts.googleapis.com/css?family=Libre+Bodoni|Roboto|SF Pro Display|Noto Sans|Open Sans|Montserrat&display=swap');

:root {
  --primary-col: #FF3B00;
  --secondary-col: black;
  --tercery-col: #F8F4F2;
  --text-col: #726D6A;
  --main-font: 'Open Sans';
  --header-font: 'Open Sans';

}

body {
  margin: 0; /* Remove default margin */
  background-color: var(--tercery-col);
}

.responsive-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 100px 1fr 100px;
}

.left, .right {
  background-color: var(--white);
}

.middle {
  background-color: var(--white);
}

.container {
  padding: 400px 600px 400px 600px;
}

.central {
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px
}

h1 {
  color: black;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--header-font);
  display: inline;
  margin: 0 0.5rem;

}

.primary-colour {
  color: var(--primary-col);
  font-weight: 700;
  font-style: italic;
}

.medium-text {
  color: var(--text-col);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
}

.primary-button {
  display: flex;
  align-items: center;  /* Vertically center both items */
  justify-content: center;  /* Horizontally center */
  background-color: white;
  border-radius: 100px;
  padding: 15px 20px 15px 20px;
  gap: 10px;
  box-shadow: 0 10px 30px 25% rgba(114, 109, 106, 1);
  border: 0px;
  font-family: var(--main-font);
}

.invert {
  color: white;
  background-color: var(--primary-col);
}

.full {
  width: 100%;
  font-size: 24px;
}

.margin {
  margin-top: 30px;
}

.logo {
  height: 24px;
  width: 24px;
}

.big {
  height: 34px;
  width: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  padding: 20px;  
  margin-left: 50px;
  margin-right: 50px;
}